@import url('../App.css');

.home-bg-img {
    width: 100%;
    height: 50vh;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    user-select: none;
    position: relative;
    text-align: center;
    display: block;
}
.home-club-name {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: min(15vw, 13vh);
    font-weight: 1000;
    color: white;
    letter-spacing: -0.04em;
    user-select: none;
    text-shadow: 0.3rem 0.3rem 0 var(--pea-red), 0.6rem 0.6rem 0.5rem var(--dark-gray);
}
.home-about-bg {
    background-color: var(--pea-red);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: center;
}
.home-about-block {
    background-color: white;
    width: 90%;
    padding: 10px;
    max-width: 1000px;
    border-radius: 5px;
    display: block;
}
.welcome-text {
    font-size: max(min(2vh, 1.5vw), 16px);
    list-style: square;
}