@import "../App.css";

.topnav {
    background-color: var(--pea-red);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 8vh;
    box-shadow: 0 0 5px var(--dark-gray);
  }
  .topnav-link {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3vh;
    font-size: max(min(2vh, 1.5vw), 16px);
    height: 100%;
    font-weight: 500;
  }
  .topnav-link:hover {
    background-color: white;
    color: black;
  }
  .topnav-link:active {
    background-color: var(--dark-gray);
    color: white;
  }
  .active {
    background-color: var(--dark-gray);
    color: white;
  }